.App-ChatInput {
  position: absolute;
  top: 90vh;
  left: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chatInput {
  text-align: left;
  width: 66.5vw;
  height: 50px;
  
}

.AppCommandInput {
  position: absolute;
  width : 20vw;
  top: 1vh;
  left: 79vw;
}

.App-ChatThreadInput {
  position: absolute;
  top: 90vh;
  left: 69vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chatThreadInput {
  text-align: left;
  width: 29.5vw;
  height: 50px;
}



