
.Chat1D-layout {
  position: absolute;
  z-index: 0;
  top: 63vh;
  left: 1vw;
  width: 67vw;
  height: 25vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Chat1D-title {
  padding-left: 20px;
  padding-top: 20px;
  height: 40px;
  text-align: left;
  border-bottom: solid 1px rgba(1,1,1,0.1);
  font-weight: 900;
}
.Chat1D-container {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 0.5vw;
  width: 66.5vw;
  height: calc(25vh - 80px);
  overflow: auto;
}
.Chat1D-single {
  height: 40px;
  cursor: pointer;
  padding-bottom: 10px;
}
.Chat1D-single-writer {
  padding-right: 5px;
  font-size: 15px;
  font-weight: 900;
}
.Chat1D-single-time {
  font-size: 12px;
}
.Chat1D-single-chatValue {
  padding-left: 10px;
}
.Chat1D-single:hover{
  background-color : gray;
}