.ChatThread-layout {
  position: absolute;
  z-index: 0;
  top: 63vh;
  left: 69vw;
  width: 30vw;
  height: 25vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.ChatThread-topic {
  padding-left: 1vh;
  padding-top: 1vh;
  height: 50px;
  text-align: left;
  border-bottom: solid 1px rgba(1,1,1,0.1);
}

.ChatThread-container {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 0.5vw;
  width: 29.5vw;
  height: calc(24vh - 70px);
  overflow: auto;
}

.ChatThread-title {
  text-align: center;
}
.ChatThread-single {
  height: 40px;
  padding-bottom: 10px;
}
.Chat1D-single-writer {
  padding-right: 5px;
  font-size: 15px;
  font-weight: 900;
}
.Chat1D-single-time {
  font-size: 12px;
}
.Chat1D-single-chatValue {
  padding-left: 10px;
}